/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Body Styling */
  body, html {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    height: 100%;
  }
  /* Homepage Container */
  .homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 75vh;
  }
  /* Content Section */
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f7f7f700;
  }
 /* Text Section */
.text-section {
  position: relative; /* Ensure it stays on top of the background */
  z-index: 2; /* Higher z-index than the background image */
  max-width: 700px;
  text-align: left;
  margin-left: 100px;
  
  }
  .text-section h1 {
    font-size: 5rem; /* Adjust main heading size here */
    color: #333;
    z-index: 6;
    margin-top: -10%;
  }
  .text-section p {
    font-size: 2rem; /* Adjust paragraph text size here */
    color: #666;
    margin-top: 10px;
  }

  /* Image Section */
.image-section {
  display: flex; /* Use flexbox to position elements */
  justify-content: flex-end; /* Align the image to the right */
  padding: 20px 40px; /* Optional padding for spacing */
}

.image-section .profile-image {
  max-width: 700px; /* Ensure the image doesn't exceed this width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 0%;
  margin-bottom: 20px;
}

 