/* Root and Base Layout */
body, html, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, Arial, sans-serif;
  height: 100%;
  background: #5a5a5a url('assets/BackGroundImage.jpg') center/cover fixed no-repeat;
}

/* Main App Container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar Custom */
.navbar-custom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(92, 86, 91, 0.95); /* Slightly transparent background */
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #0ca6a6;
}

/* Content Area */
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #5c5656;
}

/* Footer Styles */
.footer {
  background-color: #5c565b;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* Responsive Adjustments */
@media (max-width: 1440px) {
  .navbar-custom {
    padding: 0 20px;
  }

  .footer {
    padding: 10px 20px;
  }
}