
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: bold;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #5a5a5a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none; /* Removes any bullet points or dots from lists */
  margin: 20; /* Removes extra spacing around the list */
  padding: 0; /* Removes extra padding around the list */
}

a {
  font-weight: 500;
  color: #009480;
  text-decoration: inherit;
}
a:hover {
  color: #009480;
}

body {
  margin: 0;
  display: auto;
  place-items: center;
  min-width: 320px;
  min-height: 130vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #132324;
  cursor: pointer;
  transition: border-color 0.25s;

}
button:hover {
  border-color: #000dff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}